.site-container {
  min-height: 100vh !important;
}

main {
  flex: 1;
}

.rating span {
  color: #F79327;

}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.text-reviews{
  color: #284f56 !important;
  font-weight: lighter ;
  /* font-style: italic; */
  margin-left: 2px;
}